.form__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input,
.form__message {
  display: block;
  width: 49%;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  
  &::placeholder {
    opacity: 1;
    color: #828282;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: @black;
    
    &:placeholder {
      color: @black;
    }
  }
}

.form__input {
  height: 40px;
  padding-right: 15px;
  padding-left: 32px;
}

.form__message {
  height: 135px;
  min-height: 135px;
  padding: 15px;
  padding-left: 32px;
}

.form__btn {
  margin-left: auto;
}

.form__select {
  display: block;
  width: 545px;
  height: 55px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  background-color: #fff;
  appearance: none;
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 15px 18px;
  background-position: right 20px center;
  outline: none;

  option[disabled] {
    display: none;
    color: #828282;
  }
  
  &::-ms-expand {
    color: transparent;
    border: none;
    background-color: transparent;
  }
}

.form__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.form__item {
  width: 25%;
  margin-bottom: 11px;
}

.form__checkbox {
  display: none;
}

.form__label {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-right: 10px;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 2px;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: @black;
  }
}

.form__checkbox:checked + .form__label::after {
  display: block;
}

.form__field {
  .reset();
  border: 0;
  margin-bottom: 40px;
  
  .title-2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.form__btn-speciality {
  font-size: 18px;
}
