.form__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input,
.form__message {
  display: block;
  width: 49%;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  
  &::placeholder {
    opacity: 1;
    color: #828282;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: @black;
    
    &:placeholder {
      color: @black;
    }
  }
}

.form__input {
  height: 40px;
  padding-right: 15px;
  padding-left: 32px;
}

.form__message {
  height: 135px;
  min-height: 135px;
  padding: 15px;
  padding-left: 32px;
}

.form__btn {
  margin-left: auto;
}
