@media (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .header {
    &--main {
      .line-top {
        fill: #007550;
      }
      .line-middle {
        fill: #001E20;
      }
      .line-bottom {
        fill: #FF513F;
      }
    }
    .line-black {
      fill: #001E20;
    }
    .line-green {
      fill: #007550;
    }
    .line-red {
      fill: #FF513F;
    }
  }
  .logo--open {
    .logo__black {
      fill: @black;
      .transition();
    }
    .logo__red {
      fill: @red;
      .transition();
    }
    .logo__yellow {
      fill: @yellow;
      .transition();
    }
    .logo__green {
      fill: @green;
      .transition();
    }
  }
  .menu {
    flex-grow: 0;
  }
  .menu__btn {
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    
    &--open {
      display: flex;
    }
    &--close {
      display: none;
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    min-height: ~"calc(100vh - 45px)";
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .menu__link {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .menu__item {
    position: relative;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 14px;
      height: 14px;
      display: block;
      background-color: #fff;
      border: 1px solid #000;
      transform: rotate(45deg);
    }
    &:last-child {
      margin-left: 0;
      display: block;
      
      .menu__link {
        border: 0;
        padding: 7px 0;
      }
      span {
        display: none;
      }
    }
    &:hover,
    &:active,
    &--active {
      .menu__link {
        &::before,
        &::after {
          opacity: 1;
          width: 100%;
          .transition();
        }
      }
      &:first-child {
        &::before {
          background-color: @yellow;
          border: @yellow;
        }
        .menu__link {
          color: @yellow;
          
          &::before,
          &::after {
            background-color: @yellow;
          }
        }
      }
      &:nth-child(2) {
        &::before {
          background-color: @green;
          border: @green;
        }
        .menu__link {
          color: @green;
          
          &::before,
          &::after {
            background-color: @green;
          }
        }
      }
      &:nth-child(3) {
        &::before {
          background-color: @red;
          border: @red;
        }
        .menu__link {
          color: @red;
          
          &::before,
          &::after {
            background-color: @red;
          }
        }
      }
    }
  }
  .menu__item:last-child .menu__link {
    &:hover,
    &:active {
      background-color: #fff;
      color: #000;
      
      &::before,
      &::after {
        opacity: 1;
        width: 100%;
        .transition();
      }
    }
  }
  .info__list {
    margin-right: 0;
  }
  .portfolio .title {
    flex-wrap: wrap;
    
    h1 {
      order: 1;
    }
    .portfolio__nav {
      order: 3;
    }
    .btn {
      order: 2;
    }
  }
  .portfolio__nav {
    width: 100%;
    margin-right: 0;
    margin-top: 50px;
  }
}

//-------------------------------------------------------------
@media (max-width: 1022px) {
  .nav .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .nav__list {
    border-left: 0;
  }
  .nav__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
  }
  .nav__icon {
    display: block;
    fill: @yellow;
    .transition();
  }
  .nav__item{
    &:hover,
    &:active,
    &--active {
      .nav__icon {
        fill: @black;
        .transition();
      }
    }
  }
  .info__wrap {
    display: block;
  }
  .info__form {
    width: 100%;
  }
  .info__avatar {
    margin-bottom: 50px;
  }
  .info__btn {
    display: flex;
    margin-top: 15px;
  }
  .info__hidden {
    display: none;
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__block:last-of-type {
    text-align: left;
  }
  .footer__block {
    margin-bottom: 20px;
  }
  .form__item {
    width: 50%;
  }
}

//-------------------------------------------------------------
@media (max-width: 766px) {
  .table,
  .table tbody,
  .table td,
  .form__wrap {
    display: block;
  }
  .form__input,
  .form__message {
    width: 100%;
    padding-left: 25px;
  }
  .form__select {
    width: 100%;
  }
  .title {
    display: block;
    margin-bottom: 45px;
    
    .btn {
      margin-top: 25px;
    }
  }
  .table__header {
    display: none;
  }
  .table__line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
    padding: 20px 25px;
    border: 1px solid #000000;
  }
  .table td {
    border: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    
    &:first-child {
      padding-left: 0;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .table__time {
    width: 50%;
    margin-bottom: 25px;
    color: @yellow;
    font-weight: 700;
    text-align: left;
  }
  .table__price {
    width: 50%;
    margin-bottom: 25px;
    color: @green;
    font-weight: 700;
    text-align: right;
  }
  .table__edit,
  .table__remove {
    width: 50%;
    
    .btn {
      width: 120px;
      
      &::after {
        display: block;
      }
      &:hover,
      &:active {
        background-color: rgba(255,255,255,0);
      }
    }
  }
  .table__edit .btn {
    margin-left: 0;
  }
  .table__remove .btn {
    margin-right: 0;
  }
  .modal {
    padding: 20px;
  }
  .modal__wrap {
    display: block;
  }
  .form__option,
  .modal__input {
    width: 100%;
  }
  .portfolio .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .table--files {
    border-bottom: 1px solid #BDBDBD;
    
    .table__line {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      padding: 0;
      margin: 0;
      border: 0;
      border-top: 1px solid #BDBDBD;
    }
    .table__size,
    .table__date {
      display: none;
    }
    td {
      padding: 7px 20px;
      vertical-align: middle;
    }
    td:first-child {
      margin-bottom: 0;
      padding-left: 20px;
      border-left: 1px solid #BDBDBD;
    }
    .table__remove {
      width: auto;
      
      .btn {
        width: 80px;
      }
      
      .btn::after {
        display: none;
      }
    }
    .table__file {
      a {
        display: block;
        padding-left: 0;
        padding-right: 30px;
        font-size: 14px;
        line-height: 18px;
        
        &::before {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

//-------------------------------------------------------------
@media (max-width: 480px) {
  .title .btn,
  .form__btn-speciality,
  .form__item,
  .info__btn,
  .info__link,
  .form__btn {
    width: 100%;
  }
  .form__btn {
    margin-top: 35px;
  }
  h1,
  .title h1,
  .title p {
    font-size: 24px;
    line-height: 28px;
  }
  h2,
  .title-2,
  .review__name {
    font-size: 18px;
    line-height: 24px;
  }
  .review__text {
    font-size: 14px;
    line-height: 18px;
  }
  .info__avatar {
    width: 100%;
  }
  .info__img img {
    width: 100%;
    height: 320px;
  }
  .header__top {
    padding-top: 10px;
    padding-bottom: 22px;
  }
  .nav__link {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .title {
    margin-top: 162px;
  }
  .form__message {
    height: 214px;
    min-width: 214px;
  }
  .info__item {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
  .info__cert {
    margin-bottom: 14px;
    height: 225px;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  .info__delete {
    position: relative;
    top: auto;
    right: auto;
    width: 160px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #000000;
    border-radius: 2px;
    .transition();
    
    svg {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: @yellow;
      .transition();
    }

    &:hover,
    &:active {
      &::after {
        bottom: 0;
        height: 100%;
        .transition();
      }
    }
  }
  .review__item {
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 140px;
    position: relative;
  }
  .review__edit,
  .review__delete {
    width: 48%;
  }
  .review__btns {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
  }
  .review__text {
    margin-bottom: 20px;
  }
  .review__video {
    margin-bottom: 0;
  }
  .modal__message,
  .modal__input {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
  }
  .modal__input {
    padding-left: 10px;
  }
  .modal__btn {
    margin-left: 0;
  }
  .portfolio__point {
    width: 50%;
  }
  .portfolio__slider {
    position: relative;
  }
  .portfolio__list2,
  .portfolio__list {
    margin-right: 0;
    
    .swiper-wrapper {
      flex-wrap: nowrap;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    background-size: contain;
    background-color: #fff;
    outline: none;
  }
  .swiper-button-prev {
    left: -10px;
    background-image: url(../img/icons/angle_left.svg);
    border-radius: 0 5px 0 0;
  }
  .swiper-button-next {
    right: -10px;
    background-image: url(../img/icons/angle_right-border.svg);
    border-radius: 5px 0 0 0;
  }
  .swiper-pagination {
    bottom: 50px !important;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
    transform: rotate(45deg);
    background-color: #fff;
    border: 1px solid #001E20;
    opacity: 1;
    outline: none;
  }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: @black;
  }
  .portfolio__link {
    margin-bottom: 40px;
  }
  .portfolio__item {
    margin-right: 0;
    margin-bottom: 0;
  }
  .title--top {
    margin-top: 60px;
    margin-bottom: 24px;
  }
}
